#header {
	position: relative;
	z-index: 999;
}

.header_top {
	background-color: $header-top-bg-color;
	position: relative !important;
	z-index: 9999;
	a {
		color: $top-link-color;
		&:hover {
			color: $top-link-hover-color;
		}
	}
	&:after {
		display:table;
		content: '';
		clear: both;
	}
	.socials {
		line-height: 36px;
		margin: 0;
		display: inline-block;
		li {
			display: inline-block;
			a {
				font-size: 14px;
				line-height: 36px;
				color: $top-link-color;
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
	.header_left span {
		font-size: 12px;
		color: $grey;
		margin-right: 15px;
		line-height: 40px;
		//margin-left: 150px;
		//border: 1px solid $themecolor-alt;
		//border-radius: 50px;
		//padding: 5px 20px 3px 20px;
		//background-color: $grey;
		//b {
		//	font-size: 16px;
		//}
		//i {
		//	font-size: 16px;
		//	margin-right: 5px;
		//}
	}

	.header_right {
		font-size: 0;

		.login-register {
			text-transform: uppercase;

			a {
				font-size: 12px;
				line-height: 36px;
				color: $top-link-color;
				display: inline-block;
				padding: 0 10px;
				@include transition(all 0.3s ease);

				&:hover, &.active {
					background-color: #fff;
					color: #333;
				}
			}
		}

		.dropdown {
			font-size: 12px;
			position: relative;
			display: inline-block;

			span {
				color: $top-link-color;
				line-height: 36px;
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				cursor: pointer;
				@include transition(all 0.3s ease);

				&:after {
					content:'\f0d7';
					font-family: 'FontAwesome';
					margin-left: 5px;
				}
			}

			ul {
				//line-height: 0;
				list-style: none;
				padding: 0;
				margin-bottom: 0;
				background-color: $top-dropdown-bg-color;
				position: absolute;
				min-width: 115px;
				right: 0;
				width: 100%;
				z-index: 9999;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.3s ease);

				li { 

					a {
						color: #333333;
						font-size: 14px;
						display: block;
						padding: 5px 20px;
						@include transition(all 0.3s ease);

						&:hover {
							background-color: $top-dropdown-hover-bg-color;
							color: $top-dropdown-hover-color;
						}
					}

					&.active a {
						background-color: $top-dropdown-current-bg-color;
						color: $top-dropdown-current-color;
					}
				}
			}

			&:hover {

				span {
					background-color: $header-top-bg-color;
					color: $top-link-color;
				}

				ul {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

.header_content {
	position: absolute;
	left: 0; right: 0; top: 100%;
	padding: 0 0;
	text-align: right;
	font-size: 0;
	z-index: 999;
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $header-bg-color;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.container {
		position: relative;
	}

	.header_menu {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		font-size: 14px;
	}
	
	.menu {
		list-style: none;
		margin: 0; padding: 0;

		> li {
			float: left;
			position: relative;

			> a {
				display: block;
				padding: 0 20px;
				line-height: 84px;
				color: #fff;
				font-weight: 500;
				text-transform: uppercase;
				font-size: 13.45px;
				@include transition(all 0.2s ease);
			}

			&.current-menu-item > a {
				color: $menu-link-current-color;
				background-color: $menu-link-current-bg-color;
				&:before {
					content: " ";
					background-color: $menu-link-border-color;
					position: absolute;
					width: 100%;
					height: 3px;
					bottom: 0;
					left:0;
				}
			}

			&:hover {

				> a {
					color: $menu-link-hover-color;
					&:before {
						content: " ";
						background-color: $menu-link-border-color;
						position: absolute;
						width: 100%;
						height: 3px;
						bottom: 0;
						left:0;
					}
				}

				> .sub-menu {
					visibility: visible;
					opacity: 1;
					@include translate(0,0);
				}
			}
			
			> .sub-menu {
				left: 0;
				right: 0;
				margin: auto;
			}

			.sub-menu {
				width:180px;
				position: absolute; 
				left: 0;
				background-color: $menu-sub-bg-color;
				list-style: none;
				padding: $menu-sub-padding;
				margin: 0;
				border: $menu-sub-border;
				visibility: hidden;
				opacity: 0;
				@include translate(0, -10px);
				@include transition(all 0.3s ease);

				li {
					float: none;
					position: relative;

					a {
						display: block;
						padding: 7px 20px;
						color: $color;
						font-size: 14px;
						@include transition(all 0.2s ease);

						span {
							float: right;
							position: relative;
							top: 2px;
						}
					}

					&.current-menu-item > a {
						background-color: $menu-sub-current-bg-color;
						color: $menu-sub-current-color;
					}

					&:hover {
			
						> a {
							background-color: $menu-sub-hover-bg-color;
							color: $menu-sub-hover-color;
						}

						> .sub-menu {
							visibility: visible;
							opacity: 1;
							@include translate(0,0);
						}
					}

					.sub-menu {
						left: 100%;
						top: 0;
						padding: 0;
					}
				}
			}
		}	
	}
}

.header_logo {
	float: left;
	line-height: 84px;

	img {
		max-height: 53px;
	}
}

.menu-bars {
	color: #fff;
	width: 50px;
	font-size: 28px;
	cursor: pointer;
	display: none;
	top: 0; bottom: 0; right: 15px; bottom: 0;
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	@include transition(all 0.2s ease);

	span {
		width: 25px;
		left: 0; top: 0; bottom: 0; right: 0;
		margin: auto;
		height: 2px;
		background-color: #fff;
		display: block;
		position: absolute;
		@include transition(all 0.3s ease);

		&:before , &:after {
			position: absolute;
			content: '';
			height: 2px;
			width: 100%;
			background-color: #fff;
			@include transition(all 0.3s ease);
		}

		&:after {
			top: -8px;
		}

		&:before {
			bottom: -8px;
		}
	}

	&:hover {
		background-color: $mobile-menu-bars-bg-color;

		span  {
			background-color: transparent;

			&:after {
				background-color: $hover;
				@include rotate(-45deg);
			}

			&:before {
				background-color: $hover;
				@include rotate(45deg);
			}
		}
	}

	&.active { 
		background-color: $mobile-menu-bars-active-bg-color;

		span {
			background-color: transparent;

			&:after {
				background-color: $hover;
				@include rotate(45deg);
			}

			&:before {
				background-color: $hover;
				@include rotate(-45deg);
			}
		}
	}
}

.header_mobile {
	background-color: rgba($themecolor-dark, 0.85);
	left: 0; right: 0;
	z-index: 999;
	position: absolute;

	.container {
		position: relative;
	}

	.header_logo {
		display: inline-block;
		background-color: #fff;
		padding: 5px;
	}

	.menu-bars {
		display: block;
	}

	.header_menu {
		position: fixed;
	 	-webkit-overflow-scrolling: touch;
		z-index: 999;
		top: 0;
		bottom: 0;
		right: -270px;
		width: 270px;
		overflow-y: auto;
		background-color: $mobile-menu-bg-color;
		@include transition(right 0.5s cubic-bezier(0, 0.67, 0.35, 0.94));

		&.active {
			right: 0;
		}

		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {

				a {
					display: block;
					padding: 10px 40px 10px 20px;
					color: #fff;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 500;
					border-bottom: 1px solid rgba(255,255,255,0.1);
					position: relative;
					@include transition(all 0.3s ease);

					span {
						float: right;
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 40px;
						z-index: 1;
						text-align: center;
						border-left: 1px solid rgba(255,255,255,0.1);

						&:before {
							content:'\f0d7';
							position: absolute;
							top: 50%;
							left: 50%;
							@include translate(-50%,-50%);
						}
					}

					&:hover {
						background-color: #fff;
						color: $color;
					}
				}

				&.current-menu-item > a {
					background-color: #fff;
					color: $color;
				}

				.sub-menu {
					background-color: $mobile-menu-sub-bg-color;
					display: none;
				}

				> .sub-menu {

					> li { 

						> a {
							padding-left: 35px; 
						}

						> .sub-menu {
							> li { 

								> a {
									padding-left: 55px; 
								}

								> .sub-menu {
									> li { 

										> a {
											padding-left: 75px; 
										}
									}

									> .sub-menu {
										> li { 

											> a {
												padding-left: 100px; 
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.header_logo {
		line-height: 1;
	}
}

.header-sticky {
	position: fixed;
	top: 0;
	-webkit-backface-visibility:hidden; 
}
